{
  "printWidth": 80,
  "trailingComma": "es5",
  "semi": true,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "useTabs": true,
  "endOfLine": "auto",
  "tabWidth": 2,
  "overrides": [
    {
      "files": ["*.jsx"],
      "options": {
        "semi": false,
        "singleQuote": false
      }
    }
  ]
}
